body {
    background-color: #1a1a1a;
    color: #ffffff;
<<<<<<< HEAD
    font-family: 'Times New Roman';
=======
    font-family: 'Calibri';
>>>>>>> bf8b2f22975a5e4732382d407efb281325cbbef8
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ffcc00;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffcc00;
    text-decoration: none;
    padding: 10px 15px;
    border: 2px solid #ffcc00;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ffcc00;
    color: #1a1a1a;
}

.main-content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
